<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="genesConnectionString" connectionString="Data Source=bamsql2;Initial Catalog=genes;User ID=genes;Password=Genes12"
            providerName="System.Data.SqlClient" />

    </connectionStrings>
</configuration>